.commentContainer {
    text-align: left;
    padding-bottom: 5px;
}

.commentUsername {
    margin: 0 0 0 5px;
    font-size: 0.5rem;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    color: 	#e90052;
    font-weight: bold;
}

.commentContent {
    margin: 0 0 0 5px;
    font-size: 0.6rem;
}

