.container {
    width: 80vw;
    margin: 0 auto 15px auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title h3{
    
    padding: 0;
    text-align: left;
}

.title {
    border-bottom: 1px solid black;
    font-size: 0.7rem;
    padding: 0 0 0 5px;
    height: 35px;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}
.content img{
    width: 95%;
    border-radius: 10px;
}

.content {
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    
}


.metaData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.5rem;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 5px 0 5px;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12%;
    color: 	#e90052;
    font-weight: bold;
}

.comment:hover {
    cursor: pointer;
}

.commentIcon {
    width: 12.5px;
}

.postUsername {
    color: 	#e90052;
    font-weight: bold;
}

@media only screen and (min-width: 1000px) {
 .container {
    width: 70%;
 }

 .title {
    font-size: 1rem;
    min-height: 55px;
 }

 .metaData {
    font-size: 0.7rem;
 }

 .comment {
    width: 5%;
 }
}